.cover__subtitle {
    font-family: "Inter";
    font-weight: 300;
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        }
}