.header {
    max-width: 1280px;
    display: flex;
    margin: auto;
    color: white;
    background-color: #2A2C2F;
    align-items: center;
    justify-content: space-between;
    padding: 28px 48px 56px 48px;
    font-family: "Inter Regular";
    box-sizing: border-box;
}