.intro {
    width: 984px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    padding-top:114px;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 928px;
    }
}