.cover__title {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: white;
    max-width: 560px;
    margin: 0;
}

@media screen and (max-width: 360px) {
    .cover__title {
        font-size: 46px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        width: 240px;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }
}