.place {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph";
    margin: 0 11.3% 80px 11.3%;
    gap: 40px;
}


@media screen and (max-width: 1024px) {
    .place {
        gap: 32px;
        margin: 0 5% 80px 5%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 93.75%;
        margin: 0 5% 45px 5%;
        gap: 28px;
    }
}

@media screen and (max-width: 480px) {
    .place {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 35px 46px 1fr auto;
        grid-template-areas:
        "title"
        "website"
        "image"
        "paragraph";
        gap: 28px;
        margin: 0 0 50px 0;
    }
}