.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin: auto;
    width: 92.5%;
}

@media screen and (max-width: 320px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}