.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 91%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 93.5%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}